:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* 커스텀 css */
.error {
  background-color: red;
  color: white;
  --color-primary : red;
}

.warning {
  background-color: orange;
  color : white;
  --color-primary : orange;
}

.save {
  background-color: forestgreen;
  color: white;
  --color-primary : forestgreen;
}

.info {
  background-color: #2f5bea;
  color: white;
  --color-primary : #2f5bea;
}